<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DummyDBEntities" connectionString="metadata=res://*/Domain.DummyDB.csdl|res://*/Domain.DummyDB.ssdl|res://*/Domain.DummyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POLEGEKM\SQLEXPRESS;initial catalog=DummyDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalizaProdajeEntities" connectionString="metadata=res://*/Domain.AnalizaProdaje.csdl|res://*/Domain.AnalizaProdaje.ssdl|res://*/Domain.AnalizaProdaje.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;initial catalog=GrafolitCRM;user id=martinp;password=m123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="NEW_MESSAGE_TEMPLATE" value="Templates\Message.html" />
    <add key="EMPLOYEE_MESSAGE_TEMPLATE" value="Templates\EmployeeAuto.html" />
    <add key="EMPLOYEE_PARTIAL_TEMPLATE" value="Templates\EmployeeAutoPartial.html" />
    <add key="NEW_EVENT_TEMPLATE" value="Templates\EventMessage.html" />
    <add key="MEETING_WARNING_TEMPLATE" value="Templates\MeetingWarningMessage.html" />
    <add key="EmailFrom" value="bovianplus@gmail.com" />
    <add key="EmailFromForDB" value="bovianplus@gmail.com" />
    <add key="CEOId" value="5" />
    <add key="ManagerId" value="7" />
    <!--<add key="ServerTag" value="http://analizaprodaje.bovianplus.si"/>-->
    <add key="ServerTag" value="http://localhost:9861" />
    <add key="TimeInterval" value="36000" />
    <add key="TimeIntervalAvtomatika" value="3" />
    
    <add key="ScheduleMode" value="Dnevno" />
    <!--<add key="ScheduleMode" value="Interval"/>-->
    <add key="IntervalMin" value="1" />
    <add key="ScheduledTime" value="10:47" />

    <add key="DelaySendInDays" value="1" />
    <add key="SendDurationInDays" value="7" />
    <add key="DeadlineForReportInDays" value="21" />
    <add key="NotificationBeforeReportDeadlineInDays" value="7" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>