<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DummyDBEntities" connectionString="metadata=res://*/Domain.DummyDB.csdl|res://*/Domain.DummyDB.ssdl|res://*/Domain.DummyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POLEGEKM\SQLEXPRESS;initial catalog=DummyDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalizaProdajeEntities" connectionString="metadata=res://*/Domain.AnalizaProdaje.csdl|res://*/Domain.AnalizaProdaje.ssdl|res://*/Domain.AnalizaProdaje.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;initial catalog=GrafolitCRM;user id=martinp;password=m123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GrafolitOTPEntities" connectionString="metadata=res://*/DomainOTP.Grafolit_OTP.csdl|res://*/DomainOTP.Grafolit_OTP.ssdl|res://*/DomainOTP.Grafolit_OTP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;user id=martinp;password=m123.;integrated security=False;initial catalog=GrafolitOTP_Prod1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GrafolitPDOEntities" connectionString="metadata=res://*/DomainPDO.Grafolit_PDO.csdl|res://*/DomainPDO.Grafolit_PDO.ssdl|res://*/DomainPDO.Grafolit_PDO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;initial catalog=GrafolitPDO;user id=martinp;password=m123.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GrafolitNOZEntities" connectionString="metadata=res://*/DomainNOz.Grafolit_NOZ.csdl|res://*/DomainNOZ.Grafolit_NOZ.ssdl|res://*/DomainNOZ.Grafolit_NOZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;initial catalog=GrafolitNOZ;user id=martinp;password=m123.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SmtpHost" value="mail.bovianplus.si" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpEnableSsl" value="false" />
    <add key="Username" value="info@bovianplus.si" />
    <add key="Password" value="Q3hPB9dT6C" />
    <add key="SmtpTimeout" value="20000" />
    <add key="EmailTitle" value="Analiza Prodaje" />
    <add key="TimerInterval" value="60000" />
    <add key="HasCredentials" value="true" />
    <add key="Sender" value="info@bovianplus.si" />

    <add key="SmtpHostOTP" value="mail.bovianplus.si" />
    <add key="SmtpPortOTP" value="25" />
    <add key="SmtpEnableSslOTP" value="false" />
    <add key="UsernameOTP" value="info@bovianplus.si" />
    <add key="PasswordOTP" value="Q3hPB9dT6C" />
    <add key="EmailTitleOTP" value="Optimizacija transportov" />
    <add key="HasCredentialsOTP" value="true" />
    <add key="SenderOTP" value="info@bovianplus.si" />

    <add key="SmtpHostPDO" value="mail.bovianplus.si" />
    <add key="SmtpPortPDO" value="25" />
    <add key="SmtpEnableSslPDO" value="false" />
    <add key="UsernamePDO" value="info@bovianplus.si" />
    <add key="PasswordPDO" value="Q3hPB9dT6C" />
    <add key="EmailTitlePDO" value="Povpraševanje dobaviteljem" />
    <add key="HasCredentialsPDO" value="true" />
    <add key="SenderPDO" value="info@bovianplus.si" />
    <add key="UseUserEmailSettings" value="false" />

    <add key="SmtpHostNOZ" value="mail.bovianplus.si" />
    <add key="SmtpPortNOz" value="25" />
    <add key="SmtpEnableSslNOZ" value="false" />
    <add key="UsernameNOZ" value="info@bovianplus.si" />
    <add key="PasswordNOZ" value="Q3hPB9dT6C" />
    <add key="EmailTitleNOZ" value="Naročilo optimalnih zalog" />
    <add key="HasCredentialsNOZ" value="true" />
    <add key="SenderNOZ" value="info@bovianplus.si" />
    
  </appSettings>
</configuration>